* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #888888;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: bottom 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #464646;
    border: 2px solid #000000;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell.x {
    color: #ff6347;
}

.cell.o {
    color: #4682b4;
}

.cell:hover {
    background-color: #f0f0f0;
}

.restart-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.restart-btn:hover {
    background-color: #218838;
}

#message {
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
}
